<nav class="bg-gray-800 p-6">
    <ul class="flex md:gap-7 gap-1 justify-center items-center">
      <li>
        <a
          routerLink=""
          class="text-white text-md hover:text-slate-800 hover:bg-slate-100 rounded-full md:px-4 px-2 md:py-2 py-1"
          >Home</a
        >
      </li>
      <li class="links">
        <a
          routerLink="show-todos"
          class="text-white text-md hover:text-slate-800 hover:bg-slate-100 rounded-full md:px-4 px-2 md:py-2 py-1"
          >Show Todos</a
        >
      </li>
      <li>
        <a
          routerLink="todos-done"
          class="text-white text-md hover:text-slate-800 hover:bg-slate-100 rounded-full md:px-4 px-2 md:py-2 py-1"
          >Todos Done</a
        >
      </li>
      <li>
        <a
          routerLink="details"
          class="text-white text-md hover:text-slate-800 hover:bg-slate-100 rounded-full md:px-4 px-2 md:py-2 py-1"
          >Details</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  
